* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-m);
    background: var(--bg-color);
    overflow-x: hidden;
}



:root {
    --fs-ht:8rem;
    --fs-mt:7.4rem;
    --fs-c:8.2rem;        
    --fs-about:9rem;
    --fs-project:16rem;
    --fs-header-main:1.8rem;
    --fs-header-semi:0.6rem;
    --fs-link-button:1rem;

    --fs-menu-icon:4.5rem;
    --fs-menu-link:5rem;
    

    --fs-cta-t:2rem;
    --fs-cta-i:8.5rem;
    --fs-input:1.3rem;
    --fs-icon:1.7rem;
    --fs-about-t:1.8rem;
    --fs-load-more:2.5rem;

    --left-scroller-about: -2100px;
    --wrapper-widht-about: 1530px;

    --box-shadows: rgba(255, 255, 255, 0.1) 0px 3px 10px 2px;
    







    --font-m: "Montserrat", sans-serif;








    --bg-color:#151515;
    --bg2-color:#505050;
    --font-color:#ffffff;
    --font2-color:#909090;

    --gradient-bg-color: linear-gradient(#151515, #181818);

}

section {
    overflow: hidden;
    padding: 160px 8%;
    z-index: 0;
}

/*-------------------------------------------------------------------------------------*/
/*-------------------------------------- HEADER ---------------------------------------*/
/*-------------------------------------------------------------------------------------*/


header {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}


.left_header {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.left_header img {
    width: 45px;
}

header h6 {
    color: var(--font-color);
    font-weight: 200;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: var(--fs-header-semi);
}
header h4 {
    display: flex;
    align-items: center;
    font-size: var(--fs-header-main);
    color: var(--font-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}
header img{
    width: 200px;
}


.logo span{
    align-items: center;
    display: flex;
    height: 20px;
    flex-direction: column-reverse;
    text-transform: lowercase;
}


/*-------------------------------------------------------------------------------------*/
/*-------------------------------------- NAV BAR --------------------------------------*/
/*-------------------------------------------------------------------------------------*/

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 2em;
    color: #cdc6be;
    mix-blend-mode: difference;
    z-index: 20;
  }


.toggle-btn {
    display: flex;
    justify-content: flex-end;
  }
  
  .burger {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.75em 2em 1.5em 2em;
    background: rgba(255, 255, 255, 0);
    border-radius: 0.25em;
    outline: none;
    height: 20px;
    width: 28px;
    border: none;
    transition: all 250ms ease-out;
    cursor: pointer;
  }
  
  .burger:before,
  .burger:after {
    content: "";
    width: 40px;
    height: 2px;
    position: absolute;
    background: #fff;
    transition: all 250ms ease-out;
    will-change: transform;
  }
  
  .burger:before {
    transform: translateY(-3px);
  }
  
  .burger:after {
    transform: translateY(3px);
  }
  
  .active.burger:before {
    transform: translateY(0) rotate(45deg);
  }
  
  .active.burger:after {
    transform: translateY(0) rotate(-45deg);
  }




.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background: #141412;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    will-change: transform;
    z-index: 19 !important;

    overflow-y: auto; 
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
  }
  
  .overlay-menu {
    margin-top: 200px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 1em;
    flex-direction: column;
    color: #fff;

  }
  
  .menu-item {
    margin-left: 30px;
    display: flex;
    cursor: pointer;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  
  .menu-item p {
    left: -70px;
    position: relative;
    font-weight: 600;
    font-size: var(--fs-menu-link);
    line-height: 80%;
    will-change: transform;
    transition: letter-spacing 0.3s;
    margin: 20px 0;
  }

 
  
  .menu-item a {
    color: var(--font-color);
    text-decoration: none;
    display: inline-block;
    transition: all 0.8s ease;
    text-transform: uppercase;
  }

  .menu-item i{
    margin-right: 2rem;
    font-size: var(--fs-menu-icon);
    opacity: 0;
    transition: all 0.8s ease;
    animation: floatBox2 2s ease-in-out infinite;
}
.menu-item p:hover i{
    opacity: 1;
    transition: all 0.8s ease;
}

.menu-item a:hover {
    transform: translateX(90px);
    letter-spacing: 0.8rem;
}








@keyframes floatBox2 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY();
    }
}









/*-------------------------------------------------------------------------------------*/
/*--------------------------------------- HERO ----------------------------------------*/
/*-------------------------------------------------------------------------------------*/

.hero {
    width: 100%;
    background: var(--gradient-bg-color);
    padding: 160px 8%;
    display: flex;
    justify-content: space-between;
}

.hero_title {
    width: 900px;
}

.hero h1 {
    font-size: var(--fs-ht);
    color: var(--font-color);
    letter-spacing: 10px;
    
}

.last-word {
    display: inline-block;
    white-space: nowrap;
}


.word {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.char {
    display: inline-block;
}

.cta_box {
    position: relative;
}

.circle {
    margin: 100px 0;
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: floatBox 4s ease-in-out infinite;
    animation-delay: 3s;
    transition: all 1s ease;
}

.text {
    width: 100%;
    height: 100%;
    position: absolute;
    color: var(--font-color);
    animation: anim 10s linear infinite;
    text-transform: uppercase;
}

@keyframes anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes floatBox {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY();
    }
}
.text span {
    position: absolute;
    top:0.5%;
    left: 50%;
    font-size: var(--fs-cta-t);
    transform-origin: 0 150px;
}

.circle i {
    font-size: var(--fs-cta-i);
    color: var(--font-color);
    display: inline-block;
}

.circle a {
    border-radius: 50%;
    position: absolute;
    bottom: 30%;
    right: 27%;
    cursor: pointer;
    transition: all 0.8s ease;
}

.circle a:hover {
    transform: scale(1.2);
}


/*-------------------------------------------------------------------------------------*/
/*------------------------------------- PROJECTS ---------------------------------------*/
/*-------------------------------------------------------------------------------------*/

.projects {
    overflow: hidden;
    padding: 100px 8%;
    background: var(--gradient-bg-color);
}
h2 {
    display: flex;
    gap: 0.4em;
    align-items: center;
    font-size: var(--fs-project);
    color: var(--font-color);
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    
}




h2{
    width: 7000px;
}



.wall-column {
    display: block;
    width: 25%;
    float: left;
    padding: 0 12px;
    box-sizing: border-box;
}

.wall-item{
    display: block;
    margin: 0 0 20px 0;
    overflow: hidden;
    transition: all 0.5s;
    position: relative;
    
}


.wall-item:hover .load_more span, .wall-item:hover a{
    display: inline-block;
}
.wall-item:hover img {
    transform: scale(1.1);
}

.wall-item img {
    max-width: 100%;
    transition: all 0.8s;
}

.load_more span{
    display: none;
    position: absolute;
    font-size: 40px;
    padding: 20px 0 0 20px;
    top:0;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(2px);
    width: 100%;
    filter: grayscale(80%);
    
}

.load_more a{
    font-size: var(--fs-load-more);
    left: 10%;
    bottom: 10%;
    position: absolute;
    text-decoration: none;
    color: var(--font-color);
    transition: all 0.8s;
    display: none;

}


.load_more a::after {
    content: "";
    height: 2px;
    width: 82%;
    background: var(--font-color);
    left: 0;
    bottom: -1px;
    position: absolute;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}

.load_more a:hover::after{
    opacity: 1;
} 

.load_more h6 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
}


.sponsors {
    clear: both;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.sponsors img{
    width: 200px;
}



/*-------------------------------------------------------------------------------------*/
/*----------------------------------- MIDDLE TEXT -------------------------------------*/
/*-------------------------------------------------------------------------------------*/

.middle_text {
    padding: 150px 8% 0 8%;
    background: var(--bg-color);
    width: 100%;
    text-align: center;
    
}

.middle_text h1{
    line-height: 90%;
    margin-bottom: 200px;
    font-size: var(--fs-mt);
    color: var(--font-color);
    font-weight: 900;
    letter-spacing: 5px;
}

.middle_text b{

    color: var(--font-color);
}


/*-------------------------------------------------------------------------------------*/
/*-------------------------------------- ABOUT ----------------------------------------*/
/*-------------------------------------------------------------------------------------*/
.wrapper {
    width: 100%;
    max-width: 2000px;
    margin-inline: auto;
    position: relative;
    height: 300px;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,1) 80%,
        rgba(0,0,0,0)
    );
}

.item {
    align-items: center;
    gap: 3rem;
    display: flex;
    width: var(--wrapper-widht-about);
    height: 300px;
    border-radius: 6px;
    position: absolute;
    left: max(calc(var(--wrapper-widht-about) * 3), 100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes scrollLeft {
    to {
        left: var(--left-scroller-about);
    }
}

.wrapper h5{
    color: var(--font-color);
    font-size: var(--fs-about);
    text-transform: uppercase;
}
.wrapper img{
    width: 70px;
    height: 70px;
    
}



.item1 {
    animation-delay: calc(30s / 3 * (3 - 1) * -1);
}

.item2 {
    animation-delay: calc(30s / 3 * (3 - 2) * -1);
}

.item3 {
    animation-delay: calc(30s / 3 * (3 - 3) * -1);
}

.about {
    padding: 100px 8%;
    background: var(--gradient-bg-color);
}

.about img{
    position: relative;
    max-width: 100%;
}

.about_img {
    overflow: hidden;
    width: 40%;
    
}
.about_container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    position: relative;
}

.about_text {
    width: 50%;
    color: var(--font-color);
    font-size: var(--fs-about-t);
    position: relative;
}
.about_text p{
    margin-bottom: 2rem;
    letter-spacing: 2px;
    font-weight: 200;
   
}


.skills {
    margin-top: 100px;
}
.skill_box {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.skill_box img {
    height: 60px;
}











/*-------------------------------------------------------------------------------------*/
/*------------------------------------- CONTACT ---------------------------------------*/
/*-------------------------------------------------------------------------------------*/
.contact {
    padding: 160px 8%;
    width: 100%;
    background: var(--gradient-bg-color);

}
.contact h3{
    margin-bottom: 100px;
    color: var(--font-color);
    font-size: var(--fs-c);
    position: relative;
    top: 0;
}


form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

input, textarea {
    font-size: var(--fs-input);
    color: var(--font-color);
    text-transform: uppercase;
    width: 50%;
    padding: 20px;
    border: none;
    outline: none;
    display: block;
    border-radius: 5px;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--font2-color);
    background: transparent;
}

button {
    width: 150px;
    height: 60px;
    background: var(--font-color);
    text-decoration: none;
    border-radius: 50px;
    color: var(--font-color);
    font-weight: 400;
    font-size: var(--fs-input);
    display: inline-block;
    transition: all 0.8s ease;
    border: 2px solid var(--font2-color);
    border-width: 2px;
    margin: 30px 0;
    background: transparent;
    cursor: pointer;
}
button:hover{
    transform: scale(1.1);
}

input:hover,textarea:hover {
    border: 1px solid var(--font-color);
}
.contact a{
    text-align: left;
}


.contact i {
    color: white;
    margin: 20px 0 0 10px;
    padding: 14px;
    border: 2px solid var(--font-color);
    border-radius: 50%;
    width: 60px;
    transition: all 0.8s ease;
    cursor: pointer;
    font-size: var(--fs-icon);
}

.contact i:hover {
    background: var(--font-color);
    border: 2px solid var(--font-color);
    transform: scale(1.1);
    box-shadow: var(--box-shadow2);
    color: var(--bg-color);
}











/*-------------------------------------------------------------------------------------*/
/*-------------------------------------- FOOTER ---------------------------------------*/
/*-------------------------------------------------------------------------------------*/

footer {
    padding: 20px 8%;
}
footer p{
    color: var(--font-color);
    text-align: center;
}






/*-------------------------------------------------------------------------------------*/
/*------------------------------------ VIEW PAGE --------------------------------------*/
/*-------------------------------------------------------------------------------------*/
.view-info {
    background: var(--gradient-bg-color);

}
.view-back a{
    margin-top: 10px;
    margin-right: 10px;
    color: var(--font-color);
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.8s ease;
    font-weight: 600;
    letter-spacing: 0.2em;
    display: inline-block;
    padding: 18px 45px;
    border: 2px solid var(--font2-color);
    border-radius: 50px;
    font-size: var(--fs-link-button);
}

.view-back a:hover {
    transition: all 0.8s ease;
    transform: scale(1.1);
}
.view-info {
    margin-top: 50px;
    width: 100%;
    display: flex;
    gap: 3rem;
}
.view-left {
    width: 50%;
}

.view-left img {
    width: 100%;
}

.view-right {
    width: 50%;
}


.logo-box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 50px;
}



.logo-box img {
    height: 200px;
}



.view-right p {
    font-family: var(--font-fm);
    color: var(--font-color);
    font-size: var(--fs-about-t);
    letter-spacing: 0.2em;
    text-align: left;
    margin-bottom: 20px;
}

.video {
    margin-top: 60px;
    width: 100%;
    height: 450px;
}

iframe {
    width: 100%;
    height: 100%;
}

.view-left {
    position: relative;
    columns: 2;
    column-gap: 1rem;
}

.view-left .view-box {
    width: 100%;
    margin: 0 0 20px;
    overflow: hidden;
    transition: all 0.5s;
    position: relative;
    box-shadow: var(--box-shadows);
}

.skills-box {
    gap: 3rem;
}
.skills-box img{
    height: 80px;
}


/*-------------------------------------------------------------------------------------*/
/*---------------------------------- MOBILE VERSION -----------------------------------*/
/*-------------------------------------------------------------------------------------*/

@media(max-width:1440px) {
    :root {
        /*-----------HERO-----------*/
        --fs-ht:7rem;

        /*---------PROJECTS---------*/
        --fs-project:12rem;
        --fs-load-more:2.2rem;

        /*----------MIDDLE----------*/
        --fs-mt:6.1rem;

        /*-----------ABOUT----------*/
        --fs-about-t:1.4rem;

        /*---------CONTACT----------*/
        --fs-c:7rem;
    }

    /*--------------------------*/
    /*-----------HERO-----------*/
    /*--------------------------*/
    .hero_title {
        width: 800px;
    }

    /*--------------------------*/
    /*---------PROJECTS---------*/
    /*--------------------------*/
    .sponsors img{
        width: 150px;
    }

    /*--------------------------*/
    /*--------VIEW PAGE---------*/
    /*--------------------------*/
    .video {
        height: 300px;
    }

 
}


/*--- Desktop Standart ---*/
@media(max-width:1200px) {
    :root {
        /*-----------HERO-----------*/
        --fs-ht:6rem;
        --fs-cta-t:1.5rem;
        --fs-cta-i:5.5rem;

        /*---------PROJECTS---------*/
        --fs-project:10rem;

        /*----------MIDDLE----------*/
        --fs-mt:4.9rem;

        /*-----------ABOUT----------*/
        --fs-about-t:1.2rem;

        /*---------CONTACT----------*/
        --fs-c:6rem;


    }

    /*--------------------------*/
    /*-----------HERO-----------*/
    /*--------------------------*/
    .hero_title {
        width: 650px;
    }

    .circle {
        width: 200px;
        height: 200px;
    }

    .text span {
        transform-origin: 0 100px;
    }
    
    /*--------------------------*/
    /*---------PROJECTS---------*/
    /*--------------------------*/
    .sponsors img{
        width: 130px;
    }

    .wall-column {
        width: 33.33%;

    }

    /*--------------------------*/
    /*--------VIEW PAGE---------*/
    /*--------------------------*/
    .logo-box img {
        height: 150px;
    }

    .video {
        height: 250px;
    }

    .skills-box img {
        height: 60px;
    }







    
}


/*--- Tablet Horizont ---*/
@media(max-width:992px) {
    :root {
        /*-----------HERO-----------*/
        --fs-ht:4.8rem;

        /*---------PROJECTS---------*/
        --fs-project:8rem;
        --fs-load-more:2rem;

        /*----------MIDDLE----------*/
        --fs-mt:3.5rem;

        /*-----------ABOUT----------*/
        --fs-about-t:1rem;

        /*---------CONTACT----------*/
        --fs-c:3.8rem;
        --fs-input:1rem;
    }

    /*--------------------------*/
    /*-----------HERO-----------*/
    /*--------------------------*/
    .hero_title {
        width: 500px;
    }


    /*--------------------------*/
    /*---------PROJECTS---------*/
    /*--------------------------*/
    .sponsors img{
        width: 100px;
    }
    
    /*--------------------------*/
    /*-----------ABOUT----------*/
    /*--------------------------*/
    .skill_box img {
        height: 55px;
    }

    /*--------------------------*/
    /*---------CONTACT----------*/
    /*--------------------------*/
    input, textarea {
        width: 70%;
    }

    /*--------------------------*/
    /*--------VIEW PAGE---------*/
    /*--------------------------*/
    .logo-box img {
        height: 120px;
    }
    .skills-box img {
        height: 55px;
    }

    .video {
        height: 200px;
    }

}


/*--- Tablet Vertical / Phone Horizontal ---*/
@media(max-width:768px) {
    :root {
        /*---------HEADER-----------*/
        --fs-menu-icon:3.5rem;
        --fs-menu-link:4rem;

        /*-----------HERO-----------*/
        --fs-ht:4.4rem;

        /*---------PROJECTS---------*/
        --fs-project:6rem;

        /*----------MIDDLE----------*/
        --fs-mt:4rem;

        /*-----------ABOUT----------*/
        --fs-about-t:1.5rem;
        --fs-about: 6rem;
        --left-scroller-about: -1800px;
        --wrapper-widht-about: 1020px;

        /*---------CONTACT----------*/
        --fs-c:4.6rem;

    }

    /*--------------------------*/
    /*-----------HERO-----------*/
    /*--------------------------*/
    .hero_title {
        width: 550px;
    }
    .hero {
        flex-direction: column;
        padding: 160px 4%;
    }
    .circle {
        margin: 100px 8%;
    }

    /*--------------------------*/
    /*---------PROJECTS---------*/
    /*--------------------------*/
    .wall-column {
        width: 50%;

    }

    /*--------------------------*/
    /*----------MIDDLE----------*/
    /*--------------------------*/
    .middle_text {
        padding: 150px 4% 0 4%;   
    }

    .middle_text h1 {
        margin-bottom: 170px;
    }


    .last-word {
        margin-top: 2.5rem;
    }

    /*--------------------------*/
    /*-----------ABOUT----------*/
    /*--------------------------*/
    .wrapper img {
        width: 60px;
        height: 60px;
    }


    .about_container {
        flex-direction: column-reverse;
    }

    .about_text {
        width: 100%;
    }

    .about_img {
        display: none;
        width: 80%;
    }

    .skill_box img {
        height: 50px;
    }

    /*--------------------------*/
    /*---------CONTACT----------*/
    /*--------------------------*/
    input, textarea {
        width: 100%;
    }

    /*--------------------------*/
    /*--------VIEW PAGE---------*/
    /*--------------------------*/
    .view-info {
        display: flex;
        flex-direction: column-reverse;
    }

    .view-left {
        width: 100%;
    }
    
    .view-right {
        width: 100%;
    }

    .video {
        height: 300px;
    }

    .logo-box img{
        height: 200px;
    }

    .skills-box img {
        height: 80px;
    }

    .view-back a{
        padding: 14px 35px;
    }
    
}


/*--- Tablet Small---*/
@media(max-width:576px) {
    :root {
        /*---------HEADER-----------*/
        --fs-header-main:1.4rem;
        --fs-header-semi:0.5rem;

        --fs-menu-icon:2.5rem;
        --fs-menu-link:2.5rem;

        /*-----------HERO-----------*/
        --fs-ht:4.8rem;

        /*---------PROJECTS---------*/
        --fs-project:4.5rem;
        --fs-load-more:1.8rem;

        /*----------MIDDLE----------*/
        --fs-mt:3.2rem;

        /*---------CONTACT----------*/
        --fs-c:3.7rem;
    }

    /*--------------------------*/
    /*---------HEADER-----------*/
    /*--------------------------*/
    .left_header img {
        width: 35px;
    }

    .logo span {
        height: 15px;
    }

    /*--------------------------*/
    /*-----------HERO-----------*/
    /*--------------------------*/
    .hero_title {
        width: 500px;
    }
    .last-word{
        line-height: 0;
    }

    /*--------------------------*/
    /*---------PROJECTS---------*/
    /*--------------------------*/
    .sponsors img{
        width: 80px;
    }

    /*--------------------------*/
    /*--------VIEW PAGE---------*/
    /*--------------------------*/
    .video {
        height: 250px;
    }

    .logo-box img {
        height: 180px;
    }

    .skills-box img {
        height: 70px;
    }







}


/*--- Phone Big ---*/
@media(max-width:480px) {
    :root {
        /*---------HEADER-----------*/
        --fs-header-main:1.1rem;
        --fs-header-semi:0.3rem;
        --fs-menu-icon:2rem;
        --fs-menu-link:2rem;

        /*-----------HERO-----------*/
        --fs-ht:3.8rem;

        /*---------PROJECTS---------*/
        --fs-project:3.8rem;
        --fs-load-more:1.4rem;

        /*----------MIDDLE----------*/
        --fs-mt:2.5rem;

        /*-----------ABOUT----------*/
        --fs-about-t:1.3rem;
        --fs-about: 5rem;
        --left-scroller-about: -1800px;
        --wrapper-widht-about: 800px;

        /*---------CONTACT----------*/
        --fs-c:2.5rem;
    }

    /*--------------------------*/
    /*---------HEADER-----------*/
    /*--------------------------*/
    .logo span {
        height: 13px;
    }

    .menu-item a:hover {
        letter-spacing: 0.4rem;
    }

    .menu-item p {
        left: -50px;
    }

    /*--------------------------*/
    /*-----------HERO-----------*/
    /*--------------------------*/
    .hero_title {
        max-width: 380px;
    }

    /*--------------------------*/
    /*---------PROJECTS---------*/
    /*--------------------------*/
    .sponsors img{
        width: 60px;
    }

    /*--------------------------*/
    /*----------MIDDLE----------*/
    /*--------------------------*/
    .middle_text h1 {
        margin-bottom: 120px;
    }

    /*--------------------------*/
    /*-----------ABOUT----------*/
    /*--------------------------*/
    .wrapper img {
        width: 50px;
        height: 50px;
    }
    .skill_box img {
        height: 45px;
    }

    /*--------------------------*/
    /*--------VIEW PAGE---------*/
    /*--------------------------*/
    .video {
        height: 200px;
    }
    .logo-box img {
        height: 150px;
    }

    .skills-box img {
        height: 50px;
    }

    .view-back a {
        padding: 12px 16px;
    }



}


/*--- Phone Standart ---*/
@media(max-width:375px) {
    :root {
        /*---------HEADER-----------*/
        --fs-header-main:0.8rem;
        --fs-header-semi:0.2rem;
        --fs-menu-icon:1.6rem;
        --fs-menu-link:1.6rem;

        /*-----------HERO-----------*/
        --fs-ht:3rem;

        /*---------PROJECTS---------*/
        --fs-project:3rem;
        --fs-load-more:1.1rem;

        /*----------MIDDLE----------*/
        --fs-mt:2.2rem;

        /*---------CONTACT----------*/
        --fs-c:2rem;
    }

    /*--------------------------*/
    /*---------HEADER-----------*/
    /*--------------------------*/
    .logo span {
        height: 12px;
    }

    .menu-item a:hover {
        letter-spacing: 0.3rem;
    }

    /*--------------------------*/
    /*-----------HERO-----------*/
    /*--------------------------*/
    .hero_title {
        max-width: 330px;
    }

    /*--------------------------*/
    /*---------PROJECTS---------*/
    /*--------------------------*/
    .sponsors img{
        width: 50px;
    }

    /*--------------------------*/
    /*--------VIEW PAGE---------*/
    /*--------------------------*/
    .video {
        height: 160px;
    }

    .logo-box img {
        height: 130px;
    }

    .skills-box img {
        height: 35px;
    }

}


/*--- Phone Small ---*/
@media(max-width:320px) {
    :root {
        /*---------HEADER-----------*/
        --fs-header-main:0.6rem;
        --fs-header-semi:0.1rem;
        --fs-menu-icon:1.3rem;
        --fs-menu-link:1.3rem;

        /*---------PROJECTS---------*/
        --fs-project:2.5rem;
        --fs-load-more:0.8rem;
    }

    /*--------------------------*/
    /*---------HEADER-----------*/
    /*--------------------------*/
    .menu-item p {
        left: -50px;
    }

    /*--------------------------*/
    /*--------VIEW PAGE---------*/
    /*--------------------------*/
    .video {
        height: 140px;
    }

    .logo-box img{
        height: 100px;
    }

    .skills-box img {
        height: 30px;
    }

}










/* ---------------------------------------*/
/* ---------------------------------------*/
/* ---------------------------------------*/
/* ---------------------------------------*/
/* ---------------------------------------*/










/* header */
/* .hero, */
/* .projects */

/* .middle_text, */
/* .about */
/* .contact  */
/* {
    display: none;
} */